<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Liste de mes groupes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
   <ion-list>
    <ion-list-header>Nouveaux cibles pour l'alerte N*{{alerteDetalis?.id}} lancée depuis {{alerteDetalis?.dateAlerte | date}} à {{alerteDetalis?.dateAlerte | date:'H:mm:ss' }} </ion-list-header>
    <ion-item-sliding *ngFor="let g of allGroupe; let i = index">
      <ion-item (click)="loadSelected(selectedGroupe[i])">
        <ion-label>  <b> {{ g?.nom }} </b> <p> {{ g?.dateCreation}} <br> {{selectedGroupe[i].slt}} </p> </ion-label>
        <ion-checkbox color="primary"  slot="start" ></ion-checkbox>
      </ion-item> 
    </ion-item-sliding> 
  </ion-list> 
  

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light" (click)="ajouterCible(selectedGroupe, alerteDetalis)">
      Ajouter 
    </ion-fab-button>
  </ion-fab>
</ion-content>
