
<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="coursalerte">
      <ion-icon name="hourglass"></ion-icon>
      <ion-label>Alertes en cours</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="prealerte">
      <ion-icon name="build"></ion-icon>
      <ion-label>Programmer</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="histalerte">
      <ion-icon name="time"></ion-icon>
      <ion-label>Historiques</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statalerte">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>Stat alertes</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>
