
<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="publications">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Publications</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="prearticle">
      <ion-icon name="build"></ion-icon>
      <ion-label>Gestionnaire</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="postarticle">
      <ion-icon name="send"></ion-icon>
      <ion-label>Envoyés</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>
<ion-icon name=""></ion-icon>