<ion-app>

  <ion-fab style="margin-top: -4%;" [hidden]="disconnected" horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button style="margin: 13px; margin-right: 0px; width: 45px; height: 45px; line-height: 45px;" color="danger"> Alerter </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="lancerAlerteDirect()" color="danger">
        <ion-icon name="warning"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="presentActionSheet()" color="danger">
        <ion-icon name="build"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  

  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-img src="{{url}} "></ion-img>
          <ion-list-header>{{ displayUserData?.username }}</ion-list-header>
          <ion-note>{{ displayUserData?.email }}</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="logoutAction()" routerDirection="root" [routerLink]="" lines="none" detail="false">
              <ion-icon slot="start" [ios]="'log-out-outline'" [md]="'log-out-sharp'"></ion-icon>
              <ion-label>Deconnecter</ion-label>
            </ion-item>
          </ion-menu-toggle>
          
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Alertes en cours</ion-list-header>
          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
    
  </ion-split-pane>
</ion-app>
