<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mes groupes</ion-title>
  </ion-toolbar>  
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="no-scroll-content">
  <ion-list>
    <ion-list-header  color="danger">
      <h5>Mes propres groupes</h5>
    </ion-list-header>
    <ion-card button *ngFor="let elem of (MyOwneGroupes)">
      <ion-item>
        <ion-note slot="start" color="danger">{{elem.nombreMembre}}</ion-note>
        <ion-label> {{elem.nom}} </ion-label>
        <ion-button (click)="myGroupeDetails(elem)" fill="outline" slot="end"> Détails </ion-button>
      </ion-item>    
      <ion-card-content>
        Groupe crée depuis {{elem.dateCreation | date}} à {{elem.dateCreation | date:'H:mm:ss' }}
      </ion-card-content>
    </ion-card>
    <br>

    <ion-list-header  color="danger">
      <h5>Mes groupes associés</h5>
    </ion-list-header>
    <ion-card button *ngFor="let elem of (MyLinkGroupes)">
      <ion-item>
        <ion-note slot="start" color="danger">{{elem.nombreMembre}}</ion-note>
        <ion-label> {{elem.nom}} </ion-label>
        <ion-button (click)="myGroupeDetails(elem)" fill="outline" slot="end"> Détails </ion-button>
      </ion-item>    
      <ion-card-content>
        Groupe crée depuis {{elem.dateCreation | date}} à {{elem.dateCreation | date:'H:mm:ss' }}
      </ion-card-content>
    </ion-card>


  </ion-list>


</ion-content>

<!-- Nouveau groupe -->
<ion-card style=" padding-top: 0px; width: 88%; position: fixed; bottom: 0px;" horizontal="middle" vertical="middle" slot="fixed" [hidden]="!wantAdd">   
  <ion-card-content>
    <ion-textarea [(ngModel)]="newGroupe.nom" rows="1" placeholder="Nom du groupe"></ion-textarea>
  </ion-card-content>
  <ion-item>
    <ion-button (click)="addNewGroupe()" [disabled]="!newGroupe.nom" color="success" fill="outline" slot="start"> Ajouter </ion-button>
  </ion-item>  
</ion-card>
<!--  -->

<!-- Bouton ajout groupe -->
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button (click)="addGroupeArea()" color="primary">
    <ion-icon [hidden]="wantAdd" name="add"></ion-icon>
    <ion-icon [hidden]="!wantAdd" name="remove-circle"></ion-icon>
  </ion-fab-button>
</ion-fab>
<!--  -->