<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Historiques des alertes</ion-title>
  </ion-toolbar>  
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--  -->
  <ion-toolbar>
    <ion-segment value="mines">
      <ion-segment-button (click)="seeMines()" value="mines"> Mes alertes</ion-segment-button>
      <ion-segment-button (click)="seeOthers()" value="others"> Autres alertes</ion-segment-button>
    </ion-segment>
  </ion-toolbar>          
  <!--  -->
  <ion-list>
    <div [hidden]="!isMines">
      <ion-list-header  color="danger">
        <h5>Mes historiques</h5>
      </ion-list-header>
      <ion-card button *ngFor="let elem of (mesListEnCours)">
        <ion-item>
          <ion-icon name="warning" color="danger" slot="start"></ion-icon>
          <ion-label>ID: {{elem.alerte.id}} <br> {{elem.user.alias}} <br> {{elem.alerte?.titre}} </ion-label>
          <ion-button (click)="myCoursDetails(elem.alerte)" fill="outline" slot="end"> Plus </ion-button>
        </ion-item>    
        <ion-card-content>
          Alerte {{elem.alerte.profil}} lancée le {{elem.alerte.dateAlerte | date}} à {{elem.alerte.dateAlerte | date:'H:mm:ss' }}
        </ion-card-content>
      </ion-card>
    </div>
    <br>
    <div [hidden]="!isOthers">
      <ion-list-header color="danger">
        <h5 class="center">Mes alertes externes</h5>
      </ion-list-header>
      <ion-card button *ngFor="let elem of autreListEnCours">
        <ion-item>
          <ion-icon name="warning" color="danger" slot="start"></ion-icon>
          <ion-label>ID: {{elem.alerte.id}} <br> {{elem.user.alias}} <br> {{elem.alerte?.titre}} </ion-label>
          <ion-button (click)="myCoursDetails(elem.alerte)" fill="outline" slot="end"> Plus </ion-button>
        </ion-item>    
        <ion-card-content>
          Alerte {{elem.alerte.profil}} lancée le {{elem.alerte.dateAlerte | date}} à {{elem.alerte.dateAlerte | date:'H:mm:ss' }}
        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>
</ion-content>