<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Articles en cours de traitements</ion-title>
  </ion-toolbar>  
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
      <ion-list-header  color="danger">
        <h5>Mes articles en cours de traitements</h5>
      </ion-list-header>
      <ion-card button *ngFor="let elem of (mesArticlesPostes)">
        <ion-item>
          <ion-icon name="newspaper" color="primary" slot="start"></ion-icon>
          <ion-label>ID: {{elem.article.id}} <br> {{elem.user.alias}} <br> {{elem.article?.titre}} </ion-label>
          <ion-button (click)="articleDetails(elem.article)" fill="outline" slot="end"> Plus </ion-button>
        </ion-item>    
        <ion-card-content>
          Article {{elem.article?.statut}} en cours depuis {{elem.article.dateArticle | date}} à {{elem.article.dateArticle | date:'H:mm:ss' }}
        </ion-card-content>
      </ion-card>
  </ion-list>

</ion-content>
