<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Alertes en cours</ion-title>
  </ion-toolbar>  
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    {{testString}}
    <ion-list-header  color="danger">
      <h5>Mes alertes en cours internes</h5>
    </ion-list-header>
    <ion-card button *ngFor="let elem of (mesListEnCours)">
      <ion-item>
        <ion-icon name="warning" color="danger" slot="start"></ion-icon>
        <ion-label> {{elem.user.alias}} </ion-label>
        <ion-button (click)="myCoursDetails(elem.alerte)" fill="outline" slot="end"> Plus </ion-button>
      </ion-item>    
      <ion-card-content>
        Alerte {{elem.alerte.profil}} en cours depuis {{elem.alerte.dateAlerte | date}} à {{elem.alerte.dateAlerte | date:'H:mm:ss' }}
      </ion-card-content>
    </ion-card>
    <br>
    <ion-list-header color="danger">
      <h5 class="center">Mes alertes en cours externes</h5>
    </ion-list-header>
    <ion-card button *ngFor="let elem of autreListEnCours">
      <ion-item>
        <ion-icon name="warning" color="danger" slot="start"></ion-icon>
        <ion-label> {{elem.user.alias}} </ion-label>
        <ion-button (click)="myCoursDetails(elem.alerte)" fill="outline" slot="end"> Plus </ion-button>
      </ion-item>    
      <ion-card-content>
        Alerte {{elem.alerte.profil}} en cours depuis {{elem.alerte.dateAlerte | date}} à {{elem.alerte.dateAlerte | date:'H:mm:ss' }}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>